<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.czxy.xuecheng.mange_course.dao.CourseMapper">
    <select id="findCourseListPage" parameterType="CourseListRequest" resultType="CourseInfo">
        select
          cb.*,(select pic from course_pic where courseid = cb.id) pic
        from course_base cb
        where cb.company_id = #{companyId}
    </select>
</mapper>
